html {
  height: 100vh;
}

body {
  background: #003E83;
  font-family: futura pt;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  height: 100%;
}

.content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1100px) {
  .title {
    margin-top: 2rem;
  }
}

.right-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .right-content {
    display: none;
  }
}

.right-content__body {
  -webkit-animation: fadeIn 320ms linear;
          animation: fadeIn 320ms linear;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  .section {
    width: 100%;
  }
}

.section-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-icons-title {
  color: white;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 1100px) {
  .section-icons-title {
    font-size: 1rem;
  }
}

.section-icons__container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-icons__container-items {
  border-top-left-radius: 371px 15px;
  border-top-right-radius: 15px 405px;
  border-bottom-right-radius: 315px 15px;
  border-bottom-left-radius: 20px 365px;
  border: solid 3px white;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-icons__container-items:nth-child(1) {
  border-top-left-radius: 15px 405px;
  border-top-right-radius: 371px 15px;
  border-bottom-right-radius: 20px 365px;
  border-bottom-left-radius: 315px 15px;
}

@media (max-width: 650px) {
  .section-icons__container-items {
    height: 70px;
    width: 70px;
  }
  .section-icons__container-items svg {
    height: 50px;
    width: 50px;
  }
}

.drawing {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drawing-image {
  width: 100%;
  padding: 0 4rem;
}

@media (max-width: 1100px) {
  .drawing {
    width: 100%;
  }
}

.drawing-home {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  .drawing-home {
    width: 100%;
  }
}

.drawing-home svg {
  stroke: white;
  width: 100%;
}

.wwd-category {
  border-top-left-radius: 371px 15px;
  border-top-right-radius: 15px 405px;
  border-bottom-right-radius: 315px 15px;
  border-bottom-left-radius: 20px 365px;
  border: solid 3px white;
  width: 100%;
  margin: 2rem 0;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: futura pt;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .wwd-category {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

.wwd-category__content {
  padding: 1rem;
  display: none;
}

@media (min-width: 1100px) {
  .wwd-category-info__container {
    position: absolute;
    width: 40%;
    right: 0;
    top: 50%;
    padding-right: 5%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-animation: fadeIn 320ms linear;
            animation: fadeIn 320ms linear;
    display: none;
  }
}

.wwd-category-info__image {
  width: 100%;
  max-width: 400px;
}

.wwd-category-info__desc {
  font-size: 1.2rem;
  text-transform: none;
}

@media (max-width: 1100px) {
  .wwd-category-info__title {
    display: none;
  }
}

.dtb-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 60px;
}

@-webkit-keyframes dropDownBounce {
  0% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dropDownBounce {
  0% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    height: 0%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideIn {
  0% {
    height: 0%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */