body {
  background: #003E83;
  font-family: futura pt;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.insight,
.process-improvement,
.application-development,
.cloud {
  /*  can be shortened with border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
  border-top-left-radius: 371px 15px;
  border-top-right-radius: 15px 405px;
  border-bottom-right-radius: 315px 15px;
  border-bottom-left-radius: 20px 365px;
  border: solid 3px white;
  width: 100%;
  margin: 2rem 0;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: futura pt;
  text-transform: uppercase;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-icons-title {
  color: white;
  margin: 0;
}

.section-icons__container {
  text-align: center;
}

.section-icons__container-items {
  border-top-left-radius: 371px 15px;
  border-top-right-radius: 15px 405px;
  border-bottom-right-radius: 315px 15px;
  border-bottom-left-radius: 20px 365px;
  border: solid 3px white;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display {
  width: 100%;
  margin: 2rem 0;
}

.drawing {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drawing svg {
  stroke: white;
  width: 100%;
}

#content1 {
  display: none;
}

#content2 {
  display: none;
}

#content3 {
  display: none;
}

#content4 {
  display: none;
}

#btn1,
#btn2,
#btn3,
#btn4 {
  background: transparent;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */